@page "/forms/intro"

<h3>Getting Started with Azure Form Recognizer</h3>

<div>Cognitive Studio currently supports trained Azure Form Recognizers. Don't have one yet?</div>
<div>Go to <a href="https://jkdev.me/getting-started-with-form-recognizer/" target="_blank" alt="Getting started with Form Recognizer (preview)">Getting started with Form Recognizer (preview)</a> to get started and come back when you have a trained model.</div>
<div>The blog post above will not only include instructions you get from <a href="https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/quickstarts/label-tool" alt="Train a Form Recognizer model with labels using the sample labeling tool" target="_blank">official documentations</a> but also a script that will cut preparations from 15-30 minutes to ~5 minutes.</div>
