@page "/"

<div class="content">
    <h1>Welcome to Azure Cognitive Services Explorer!</h1>

    This app is a client-side Blazor application designed for developers to experiment with Cognitive Services without needing to write a PoC or Postman scripts.

    At the moment the you can explore:

    <ul>
        <li><NavLink class="nav-link" href="face/intro">Face API</NavLink></li>
    </ul>

    <h2 class="mt-2">Source code</h2>

    <p>You can find the source code on <a href="https://github.com/jernejk/CognitiveServices.Explorer">CognitiveServices.Explorer GitHub project</a>.</p>
</div>