@page "/"
@inject NavigationManager navigationManager

@{
    var isGitHub = navigationManager.BaseUri.IndexOf("jernejk.github.io", StringComparison.OrdinalIgnoreCase) > 0;
}

<div class="content">
    <h1>Cognitive Studio</h1>

    <p>
        Welcome to Cognitive Studio.<br />

        This app is made for everyone to try out <a href="https://azure.microsoft.com/en-au/services/cognitive-services/">Azure Cognitive Service</a> without needing to build your own application.<br />

        Azure Cognitive Services that you can explore:<br />

        <ul class="list-unstyled">
            <li><i class="fa fa-check"></i> <a href="face/intro"><i class="fa fa-smile-o"></i> Face API</a></li>
            <li><i class="fa fa-check"></i> <a href="text"><i class="fa fa-align-center"></i> Text API (beta - no visualization)</a></li>
            <li><i class="fa fa-check"></i> <a href="speech"><i class="fa fa-microphone"></i> Speech + Text API (very early stage)</a></li>
        </ul>

        @if (isGitHub)
        {
            <div class="alert alert-warning" role="alert">The app is moving away from GitHub pages to <a href="https://cognitivestudio.dev/">https://cognitivestudio.dev/</a></div>
        }
    </p>

    <p>
        <a href="https://github.com/jernejk/CognitiveServices.Explorer"><i class="fa fa-github" aria-hidden="true"></i> Contribute on GitHub</a>
    </p>
</div>