@using CognitiveServices.Explorer.Application.Text
@using CognitiveServices.Explorer.Domain.Text
@using Newtonsoft.Json

@if (_response != null)
{
    <div class="mb-3">
        <h4>Key Phrases analysis</h4>
        @foreach (var document in _response.documents)
        {
            <div style="width: 100%">
                <span style="font-weight: bold">Document ID:</span> @document.id<br />
                @if (!string.IsNullOrWhiteSpace(_response.modelVersion))
                {
                    <span style="font-weight: bold">Model version:</span> @_response.modelVersion<br />
                }

                <ul>
                    @foreach (var keyPhrase in document.keyPhrases)
                    {
                        <li>@keyPhrase</li>
                    }
                </ul>
            </div>
        }
    </div>
}

@code {
    private string? _responseJson = null;
    private TextApiResponse? _response = null;

    [Parameter]
    public string? ResponseJson
    {
        get { return _responseJson; }
        set
        {
            if (_responseJson != value)
            {
                _responseJson = value;
                if (_responseJson == null)
                {
                    _response = null;
                }
                else
                {
                    _response = JsonConvert.DeserializeObject<TextApiResponse>(_responseJson);
                }
            }
        }
    }

    [Parameter] public string TextApiVersion { get; set; } = TextRequestGenerator.StableVersion;
}
