@page "/face/intro"

    <div class="content">
        <h2>Azure Face API</h2>

        <p>
            <img src="images/Face/face.detection.jpg" class="img-responsive" width="420" alt="Face Detection example by Microsoft" />
        </p>

        <p>
            Azure Face API is used to detect, recognize and analyze human faces in images.<br />
            All interaction with API is done via REST APIs.<br />

            If you already have Azure Face API setup, <a href="face/v1.0/persongroups">start exploring</a>!
        </p>

        <h3>Get started</h3>

        <p>
            To get started go to <a href="https://portal.azure.com/">Microsoft Azure Portal</a> or try it for free at <a href="https://azure.microsoft.com/en-au/services/cognitive-services/face/">Try it for free</a>, create Face API and copy the URL as well as the subscription key.<br />
            Alternatively, you can also use Azure CLI to create the resource in PowerShell:
        </p>

        <p>
            <pre><code>az cognitiveservices account create --kind Face --location EastUS --name face-api-name --resource-group PoC --sku F0 --yes
az cognitiveservices account keys list --name face-api-name --resource-group resource-group-name
</code></pre>
        </p>

        <p>
            <ol>
                <li>Copy <b>"endpoint"</b> value from first command (e.g. <i>https://eastus.api.cognitive.microsoft.com</i> or <i>https://sswsophieface-dev.cognitiveservices.azure.com</i>).</li>
                <li>Copy <b>"key1"</b> from second command.</li>
                <li>That's all! <a href="face/v1.0/persongroups">Start exploring</a>!</li>
            </ol>

            <a href="images/Face/azure-cli-create-face-api.png" target="_blank"><img src="images/Face/azure-cli-create-face-api.png" alt="Azure CLI creating Azure Face API" style="max-width: 600px;" /></a>
        </p>

        <h3>Currently supported functionalities</h3>

        <p>
            This app is a work in-progress, done on my own free time.<br /><br />
            Here is a list of functionalities already completed:
        </p>

        <p>
            <ul class="list-unstyled">
                <li><i class="fa fa-check"></i> Explore face groups and persons</li>
                <li><i class="fa fa-check"></i> Detect and identify faces via web cam</li>
                <li><i class="fa fa-check"></i> Add/update/remove groups</li>
                <li><i class="fa fa-check"></i> Add/update/remove people</li>
                <li><i class="fa fa-check"></i> Upload/remove person faces from URL/file upload</li>
                <li><i class="fa fa-check"></i> Detect and identify faces via URL/file upload</li>
            </ul>
        </p>

        <h4>Functionalities in development</h4>

        <p>
            <ul class="list-unstyled">
                <li><i class="fa fa-clock-o"></i> Different recognition models support</li>
            </ul>
        </p>

        <h4>Not planned at the moment</h4>

        <p>
            I might add them sometimes in the future but at the moment they are not my focus.<br />
            You are welcome to contribute. :)
        </p>

        <p>
            <ul class="list-unstyled">
                <li><i class="fa fa-times"></i> Similar faces</li>
                <li><i class="fa fa-times"></i> Verify face</li>
                <li><i class="fa fa-times"></i> Group face</li>
                <li><i class="fa fa-times"></i> Support for large groups</li>
                <li><i class="fa fa-times"></i> Face list</li>
                <li><i class="fa fa-times"></i> Snapshots</li>
            </ul>
        </p>

        <h3>Check for usage</h3>

        <p>When using Azure Face API, it's a goo idea to check consumption of your APIs, especially if the usage can't be directly controlled.<br/></p>

        <h4 class="pt-2">Free tier (F0)</h4>
        <div>
            <p>You have 2 options for free tier.</p>

            <h5>Azure Portal</h5>

            <ol>
                <li>Go to Azure Portal</li>
                <li>Find your Azure Face API</li>
                <li>Go to overview</li>
            </ol>

            <a href="images/Face/azure-portal-face-api-usage-free-tier.png" target="_blank"><img src="images/Face/azure-portal-face-api-usage-free-tier.png" alt="Azure CLI - get usage for Face API free tier" style="max-width: 600px;" /></a>

            <h5>Azure CLI</h5>

            <p>In PowerShell use the following command:</p>

            <pre><code>az cognitiveservices account list-usage --name face-api-name --resource-group resource-group-name</code></pre>

            <a href="images/Face/azure-cli-face-api-usage-free-tier.png" target="_blank"><img src="images/Face/azure-cli-face-api-usage-free-tier.png" alt="Azure Portal - get usage for Face API free tier" style="max-width: 600px;" /></a>
        </div>

        <h4 class="pt-2">Paid tier</h4>

        <div>
            <p>Currently, the easiest to checks usage on paid tier is to go to Azure Portal cost analysis.</p>

            <p>In Azure Portal:</p>
            <ol>
                <li>Go to the resource group of Azure Face API</li>
                <li>Cost analysis</li>
                <li>Click your resource under resources</li>
            </ol>

            <a href="images/Face/azure-portal-face-api-usage-paid-tier.png" target="_blank"><img src="images/Face/azure-portal-face-api-usage-paid-tier.png" alt="Azure portal - get usage for Face API paid tier" style="max-width: 600px;" /></a>
        </div>

        <h3 class="pt-2">Postman collections</h3>

        <p>If you need a more complete collection of Face API functionalities, I have created a <a href="https://github.com/jernejk/RealTimeFaceApi/tree/master/Postman"><i class="fa fa-github" aria-hidden="true"></i> Postman collection</a>.</p>

        <h3>Real-time facial recognition</h3>

        <p>If you're interested in real-time facial recognition you checkout my sample app <a href="https://github.com/jernejk/RealTimeFaceApi"><i class="fa fa-github" aria-hidden="true"></i> Real-time facial recognition with OpenCV and Azure Face API</a> and my <i class="fa fa-youtube-play" aria-hidden="true"></i>  YouTube video:</p>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/KCSyRO0KotA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
